.highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 65%,
    #f76b8a59 65%
  );
  display: inline;
}

#Polkadot--Grey {
  background-image: radial-gradient(#e4e4e4 1%, transparent 2%),
    radial-gradient(#e4e4e4 1%, transparent 2%);
  background-color: #fff;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  /* height: 200px; */
  width: 100%;
}

#Polkadot--Primary {
  background-image: radial-gradient(#ffa7ba 1%, transparent 2%),
    radial-gradient(#e4e4e4 1%, transparent 2%);
  /* background-color: #fff; */
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  /* height: 200px; */
  width: 100%;
}
